.css-8prpfy-MuiTypography-root,
.css-1en1xm1-MuiTypography-root,
.css-nspykf-MuiTypography-root,
.css-140bx6p-MuiTypography-root,
.css-14x1r2o-MuiTypography-root {
    margin-bottom: -35px !important;
}